<%- include('partials/header'); -%> 
<div class="container">
<h1>This is Home Page</h1>
<p>Welcome To Yelp camp</p>
<a href="/campgrounds">View All campgrounds</a>
<%- include('partials/footer'); -%> 
</div>